button {
  border: none !important;
  background: #111111;
  border-radius: 8px;
  color: white;
  height: 40px;
  padding: 0px 15px;
  font-family: Kanit;

}

h3 {
  font-family: Kanit !important;
}

.App {
  background: #f3f3f3;
  height: 100vh;
}